# Pendahuluan Python

## Variabel

In [10]:
nama = 'Tony Stark'
umur = 30
tinggi = 170

In [12]:
nama

'Tony Stark'

In [13]:
print(nama)

Tony Stark

## Print

In [17]:
# versi 1 
print('nama saya', nama, 'berumur', umur, 'tahun dengan tinggi', tinggi)

# versi 2
print('nama saya {} berumur {} tahun dengan tinggi {}'.format(nama, umur, tinggi))

# versi 3
print(f'nama saya {nama} berumur {umur} tahun dengan tinggi {tinggi}')

nama saya Tony Stark berumur 30 tahun dengan tinggi 170
nama saya Tony Stark berumur 30 tahun dengan tinggi 170
nama saya Tony Stark berumur 30 tahun dengan tinggi 170

## Tipe Data Dasar (Primitive)

### String

In [21]:
nama_customer = 'Iron Man'
nama_customer_2 = 'Hulk'

print(nama_customer)
print(nama_customer_2)

Iron Man
Hulk

In [24]:
# Cek tipe data
print(type(nama_customer))
print(type(nama_customer_2))

<class 'str'>
<class 'str'>

In [26]:
# Casting string data type
no_ktp = str(123321456)
print(type(no_ktp))

<class 'str'>

### Numeric

In [28]:
# Integer
jumlah_motor = 250
print(type(jumlah_motor))

<class 'int'>

In [29]:
# Float
berat_motor = 4567.5
print(type(berat_motor))

<class 'float'>

In [30]:
# Casting int ke float
ukuran_sepatu = float(30)
print(type(ukuran_sepatu))

<class 'float'>

### Boolean

In [31]:
tampan = True
print(type(tampan))

<class 'bool'>

In [32]:
x = 100
y = 20

print(x > y)
print(x < y)

True
False

In [33]:
if x < y:
  print(f'{x} lebih kecil dari {y}')
else:
  print(f'{x} lebih besar dari {y}')

100 lebih besar dari 20

## Operasi Dasar

### Arithmetic

In [36]:
a = 21
b = 2

print(a / b)
print(a % b)
print(a // b)

10.5
1
10

In [38]:
# use case modulus
n_hari = 1500
hari_kedepan = n_hari & 7
print(hari_kedepan)

4

In [40]:
# use case floor division dan modulus
jumlah_detik = 54050
jam = jumlah_detik // 3600
sisa_detik = jumlah_detik % 3600
menit = sisa_detik // 60
sisa_detik = sisa_detik % 60

print(f'{jumlah_detik} detik sama dengan {jam} jam {menit} menit {sisa_detik} detik')

54050 detik sama dengan 15 jam 0 menit 50 detik

#### Exercise

In [41]:
# kita menjual barang seharga 40000
# barang telah terjual 250 pcs
# hitung total revenue
# hitung average revenue (total revenue / quantity)
price = 40000
quantity = 250
total_revenue = price * quantity
avg_revenue = total_revenue / quantity

print(total_revenue)
print(avg_revenue)

10000000
40000.0

In [42]:
# rumus pythagoras c^2 = a^2 + b^2
# diketahui a = 3, b = 4
# berapa nilai c
# nilai c = akar(a^2 + b^2)

a = 3
b = 4

c = (a**2 + b**2)**(1/2)
print('c: ', c)

c:  5.0

In [43]:
from math import sqrt
c = sqrt(a**2 + b**2)
c

5.0

### Comparison

In [48]:
x = 15
y = 6

print(x == y)
print(x != y)
print(x > y)
print(x < y)

False
True
True
False

### Logical Operator

In [52]:
x = 15
y = 6

# and
print(x > y and x == 15)

# or
print(x > y or x == 1000)

# not
print(not(x > y or x == 1000))

True
True
False

In [56]:
# banyak logical
print(((x > y and x == 15) and x != 6) and y == 6)

True

### Operasi pada string

In [60]:
# Operasi +
nama_depan = 'tony'
spasi = ' '
nama_belakang = 'stark'
nama_lengkap = nama_depan + spasi + nama_belakang
print(nama_lengkap)

tony stark

In [61]:
# fungsi string
kota = "Jakarta"
kota_kecil = kota.lower()
kota_besar = kota.upper()

print(kota_kecil)
print(kota_besar)

jakarta
JAKARTA

In [62]:
# mengganti sebagian string
kalimat = 'naruto dan sasuke pergi melawan madara'
kalimat.replace('dan', 'bersama')

'naruto bersama sasuke pergi melawan madara'

In [63]:
# case
no_telp = '0821-1111-2222'
no_telp.replace('-', '')

'082111112222'

#### Excercise

In [65]:
# 3 variabel penjualan
penjualan_1 = '5,000'
penjualan_2 = '3,200'
penjualan_3 = '1,300'

# bersihkan data dan hitung jumlah penjualan
total = int(penjualan_1.replace(',', '')) + int(penjualan_2.replace(',', '')) + int(penjualan_3.replace(',', ''))
print(total)

9500